@import '../../App.scss';

#email-form {
  width: calc(100% - 160px);
  max-height: 550px;
  height: 100%;
  border-radius: 16px;
  background: $brand;
  margin: 80px auto 0 auto;
  padding: 60px 0 32px 0;

  h1 {
    color: #fff;
  }

  #content-block {
    color: rgba(#fff, .7);
  }

  div {
    width: 600px;
    margin: 0 auto;
    position: relative;

    input[type=email]{
      width: 100%;
      border: 0;
      outline: 0;
      height: 60px;
      border-radius: 12px;
      display: block;
      box-shadow: 0 4px 12px 0 rgba(0,0,0,0.08);
      font-size: 16px;
      color: $medium;
      font-weight: 500;
      padding: 0 0 0 20px;
      box-sizing: border-box;
    }

    button {
      position: absolute;
      top: 14px;
      right: 14px;
    }

    div {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $light;
      color: $dark !important;
      z-index: 99;
      text-align: center;
      line-height: 58px;
      font-weight: 600;
      border-radius: 12px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 0 20px 0 20px;
      box-sizing: border-box;
    }
  }

  span {
    width: 100%;
    text-align: center;
    opacity: 0.6;
    font-size: 15px;
    color: rgba(#FFFFFF, .7);
    letter-spacing: 0.2px;
    font-weight: 500;
    display: inline-block;
    margin: 80px 0 0 0;
  }
}
