@import '../../App.scss';

section.hero {
  width: calc(100vw - 48px);
  height: calc(100vh - 114px);
  margin: 91px auto 550px auto;
  background: $brand;
  border-radius: 24px;
  text-align: center;
  box-sizing: border-box;
  position: relative;

  h1 {
    font-family: "Graphik";
  }

  .hero-cont {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -68%);
  }

  p {
    width: 620px;
    color: rgba(255, 255, 255, 0.8);
    margin: 20px auto 0 auto;
  }

  .actions {
    padding: 40px 0 0 0;
    width: 168px;
    margin: 0 auto;

    a {
      color: rgba(255, 255, 255, 1);
      float: left;
      margin: 0 32px 0 12px;
      line-height: 24px;

      &:last-child {
        margin: 0 0 0 12px;
      }
    }

    img.arrow-icon {
      width: 24px;
      display: inline-block;
      float: left;
    }
  }

  img.preview {
    width: 988px;
    position: absolute;
    bottom: -550px;
    left: 50%;
    transform: translateX(-50%);
  }
}
