.hero {
  max-width: 432px;
  margin: 0 auto;
  padding: 120px 16px 120px 16px;
  box-sizing: border-box;

  h1                { margin: 32px 0 0 0; }
  p.intro           { margin: 12px 0 0 0; }
  span.coming-date  { margin: 32px 0 0 0; }
}
