header {
  width: 100%;
  padding: 32px 56px 32px 56px;
  box-sizing: border-box;
  text-align: center;
  position: fixed;
  z-index: 99;
  background: #fff;
  box-shadow: none;
  transition: all ease-in-out .4s;
  top: 0;

  .img-clip {
    width: 83px;
    height: 24px;
    display: inline-block;
    overflow: hidden;
    transition: all ease-in-out .2s;
  }

  a {
    float: left;
    margin: 4px 0 0 0;
  }

  a:nth-child(2){ margin: 4px 0 0 28px; }
  a:last-child { float: right; }

  &.scrolled {
    padding: 16px 56px 16px 56px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);

    .img-clip { width: 24px; }
  }
}
