Header {
  width: 400px;
  margin: 0 auto;
  padding: 120px 0 120px 0;

  h1 {
    margin: 0;
    font-family: SFUIText-Bold;
    font-size: 71px;
    color: #121619;
    letter-spacing: -2px;
    line-height: 88px;
    margin: 32px 0 12px 0;
  }

  p {
    font-family: SFUIText-Regular;
    font-size: 17px;
    color: #5E6163;
    letter-spacing: -0.2px;
    line-height: 28px;
    margin: 0;
  }

  span {
    font-family: SFUIText-Medium;
    font-size: 16px;
    color: #5E6163;
    letter-spacing: -0.32px;
    line-height: 28px;
    margin: 32px 0 0 0;
    display: inline-block;
  }
}
